In [ ]:
import pandas as pd

nRowsRead = None
COLUMNS = ['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship'
           ,'race','sex','capital_gain','capital_loss','hours_week','native_country','label']
urlorgin = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
df= pd.read_csv(urlorgin, delimiter=',',nrows = nRowsRead, names=COLUMNS)
df.dataframeName = 'house-votes-84.data.csv'
nRow, nCol = df.shape
print(f'Hay {nRow} filas y {nCol} columnas')

Hay 32561 filas y 15 columnas

In [ ]:
#Muestra cabecera del dataframe en n columnas
df.head(5)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_week,native_country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
#Conteo de datos
df.shape

(32561, 15)

In [ ]:
#Elimina filas no deseadas
df.drop(['label'], axis = 'columns', inplace=True)

In [ ]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_week         int64
native_country    object
dtype: object

In [ ]:
#Eliminar datos que contengan un espacio
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].str.strip()

In [ ]:
# Utiliza applymap para verificar la presencia del carácter '?' en el dataframe
total_characters = df.applymap(lambda n: str(n).count('?')).values.sum()
print("Celdas con un valor igual a '?:", total_characters)

Celdas con un valor igual a '?: 4262

In [ ]:
df_new = df[~(df == '?').any(axis=1)]
df_new

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_week,native_country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [ ]:
df_new.dropna()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_week,native_country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [ ]:
# Utiliza applymap para verificar la presencia del carácter '?' en el dataframe
total_characters = df_new.applymap(lambda n: str(n).count('?')).values.sum()
print("Celdas con un valor igual a '?:", total_characters)

Celdas con un valor igual a '?: 0

In [ ]:
#Ordena de menor a mayor
df_new.sort_values(by=['age'], ascending=True)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_week,native_country
10180,17,Private,297246,11th,7,Never-married,Priv-house-serv,Own-child,White,Female,0,0,9,United-States
21767,17,Private,207637,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,10,United-States
14720,17,Private,99462,11th,7,Never-married,Other-service,Own-child,Amer-Indian-Eskimo,Female,0,0,20,United-States
13322,17,Private,345403,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States
26088,17,Private,225507,11th,7,Never-married,Handlers-cleaners,Not-in-family,Black,Female,0,0,15,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5406,90,Private,51744,Masters,14,Never-married,Exec-managerial,Not-in-family,Black,Male,0,0,50,United-States
1935,90,Private,221832,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States
11996,90,Private,40388,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States
19212,90,Private,139660,Some-college,10,Divorced,Sales,Unmarried,Black,Female,0,0,37,United-States

In [ ]:
# Agrupa por las personas que votaron inversión en crimen
df_new.groupby(['native_country']).get_group('United-States')

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_week,native_country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [ ]:
#Agrupación por columna native-country
df.groupby(['native_country']).count()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_week
native_country,,,,,,,,,,,,,
?,583,583,583,583,583,583,583,583,583,583,583,583,583
Cambodia,19,19,19,19,19,19,19,19,19,19,19,19,19
Canada,121,121,121,121,121,121,121,121,121,121,121,121,121
China,75,75,75,75,75,75,75,75,75,75,75,75,75
Columbia,59,59,59,59,59,59,59,59,59,59,59,59,59
Cuba,95,95,95,95,95,95,95,95,95,95,95,95,95
Dominican-Republic,70,70,70,70,70,70,70,70,70,70,70,70,70
Ecuador,28,28,28,28,28,28,28,28,28,28,28,28,28
El-Salvador,106,106,106,106,106,106,106,106,106,106,106,106,106
England,90,90,90,90,90,90,90,90,90,90,90,90,90
France,29,29,29,29,29,29,29,29,29,29,29,29,29
Germany,137,137,137,137,137,137,137,137,137,137,137,137,137
Greece,29,29,29,29,29,29,29,29,29,29,29,29,29
Guatemala,64,64,64,64,64,64,64,64,64,64,64,64,64
Haiti,44,44,44,44,44,44,44,44,44,44,44,44,44
Holand-Netherlands,1,1,1,1,1,1,1,1,1,1,1,1,1
Honduras,13,13,13,13,13,13,13,13,13,13,13,13,13
Hong,20,20,20,20,20,20,20,20,20,20,20,20,20
Hungary,13,13,13,13,13,13,13,13,13,13,13,13,13
India,100,100,100,100,100,100,100,100,100,100,100,100,100
Iran,43,43,43,43,43,43,43,43,43,43,43,43,43
Ireland,24,24,24,24,24,24,24,24,24,24,24,24,24
Italy,73,73,73,73,73,73,73,73,73,73,73,73,73
Jamaica,81,81,81,81,81,81,81,81,81,81,81,81,81
Japan,62,62,62,62,62,62,62,62,62,62,62,62,62
Laos,18,18,18,18,18,18,18,18,18,18,18,18,18
Mexico,643,643,643,643,643,643,643,643,643,643,643,643,643
Nicaragua,34,34,34,34,34,34,34,34,34,34,34,34,34
Outlying-US(Guam-USVI-etc),14,14,14,14,14,14,14,14,14,14,14,14,14
Peru,31,31,31,31,31,31,31,31,31,31,31,31,31
Philippines,198,198,198,198,198,198,198,198,198,198,198,198,198
Poland,60,60,60,60,60,60,60,60,60,60,60,60,60
Portugal,37,37,37,37,37,37,37,37,37,37,37,37,37
Puerto-Rico,114,114,114,114,114,114,114,114,114,114,114,114,114
Scotland,12,12,12,12,12,12,12,12,12,12,12,12,12
South,80,80,80,80,80,80,80,80,80,80,80,80,80
Taiwan,51,51,51,51,51,51,51,51,51,51,51,51,51
Thailand,18,18,18,18,18,18,18,18,18,18,18,18,18
Trinadad&Tobago,19,19,19,19,19,19,19,19,19,19,19,19,19
United-States,29170,29170,29170,29170,29170,29170,29170,29170,29170,29170,29170,29170,29170
Vietnam,67,67,67,67,67,67,67,67,67,67,67,67,67
Yugoslavia,16,16,16,16,16,16,16,16,16,16,16,16,16

In [ ]:
#Agrupación por columna marital_status
df.groupby(['marital_status']).count()

,age,workclass,fnlwgt,education,education_num,occupation,relationship,race,sex,capital_gain,capital_loss,hours_week,native_country
marital_status,,,,,,,,,,,,,
Divorced,4443,4443,4443,4443,4443,4443,4443,4443,4443,4443,4443,4443,4443
Married-AF-spouse,23,23,23,23,23,23,23,23,23,23,23,23,23
Married-civ-spouse,14976,14976,14976,14976,14976,14976,14976,14976,14976,14976,14976,14976,14976
Married-spouse-absent,418,418,418,418,418,418,418,418,418,418,418,418,418
Never-married,10683,10683,10683,10683,10683,10683,10683,10683,10683,10683,10683,10683,10683
Separated,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025
Widowed,993,993,993,993,993,993,993,993,993,993,993,993,993

In [ ]:
#Agrupación por columna sex
df.groupby(['sex']).count()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_week,native_country
sex,,,,,,,,,,,,,
Female,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771
Male,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790

In [ ]:
#Agrupación por columna sex
df.groupby(['sex']).count()

In [ ]:
#Descipción de datos estadisticos
df.describe()

                age  education_num  capital_gain  capital_loss    hours_week
count  32561.000000   32561.000000  32561.000000  32561.000000  32561.000000
mean      38.581647      10.080679   1077.648844     87.303830     40.437456
std       13.640433       2.572720   7385.292085    402.960219     12.347429
min       17.000000       1.000000      0.000000      0.000000      1.000000
25%       28.000000       9.000000      0.000000      0.000000     40.000000
50%       37.000000      10.000000      0.000000      0.000000     40.000000
75%       48.000000      12.000000      0.000000      0.000000     45.000000
max       90.000000      16.000000  99999.000000   4356.000000     99.000000

In [ ]:
#promedio
df.median()

<ipython-input-8-873827d5ee71>:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

age              37.0
education_num    10.0
capital_gain      0.0
capital_loss      0.0
hours_week       40.0
dtype: float64

In [ ]:
#Conocer valores nulos
df.isnull().sum()

age               0
workclass         0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_week        0
native_country    0
dtype: int64